body {
    background:  #B2E0E6;
}

/* toggle button styles */

.toggleButton{
    width: 50%;
    height: 36px;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 37.5%;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
}
#toggle-container{
   
        position: absolute;
        left: 0;
        top: 0;
        width: inherit;
        height: inherit;
        text-transform: uppercase;
        font-size: 90%;
        letter-spacing: 3px;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
    
    
}

.inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 3px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;

}

.inner-container:hover {
    border: solid #DA4E46 2px;
}


.inner-container:first-child {
    background: whitesmoke;
    color: #a9a9a9;
    transition: .3s cubic-bezier(0,0,0,1);
    position: relative;
    left: .5%;
    top: 0.45%;
}


.inner-container:nth-child(2) {
    background: whitesmoke;
    color: #a9a9a9;
    clip-path: inset(0 50% 0 0);
    transition: .3s cubic-bezier(0,0,0,1);
    
}



.toggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

.toggle p {
    margin: auto;
}

.toggle:nth-child(1) {
    right: 0;
}


/* style for page2 info from firebase */
.infoBox {
    width: 90%;
    height: 75%;
    position: absolute;
    top: 12%;
    left: 5%;
    overflow-y: auto;
    transition: .5s;
    box-shadow: 8px 8px 5px grey;
}

.ingredient-heading {
    padding-top: 4%;
    justify-content: center;
    display: flex;
}

.ingredient-list {
    margin-top: 3%;
    margin-left: 33%;
    transition: .5s;

}

.chart {
    justify-content: center;
    display: flex;
    margin-top: 4%;
    /* display: inline-block; */
    padding-right: 5px;
}

#macroTable {
    border-collapse: collapse;
    width: 100%;
    background-color: #a9a9a9;
    margin-top: 2%;
}

#macroTable td, #macroTable th {
    border: 1px solid black;
    padding: 8px;
}

#macroTable tr:nth-child(even){background-color: whitesmoke;}

#macroTable tr:hover {background-color: #ddd;}

#macroTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
/* button styles  */
#emailMe {
    position: absolute;
    bottom: 5%;
    left: 50.5%;
    background-color:  #F9B44C;
    width: 10%;
    height: 35px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer; 
    display: none;
}

#page1{
    position: absolute;
    bottom: 5%;
    left: 45%;
    background-color:  #F9B44C;
    width: 10%;
    height: 35px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer; 
}

#emailMe:hover,
#page1:hover {
    background-color:   #fccb83;
}


/* mobile styles */
@media screen and (max-width: 667px) {

    /* #emailMe {
        position: absolute;
        bottom: 0%;
        left: 45%;
    } */

    #page1 {
        position: absolute;
       bottom: 0%;
        left: 45%;
        
    }

    .infoBox {
        width: 100%;
        height: 83%;
        position: absolute;
        top:10%;
        left: 0%;
        overflow-y: auto;
    }

    .toggleButton{
        width: 65%;
        height: 36px;
        margin: auto;
        position: absolute;
        top: 3%;
        left: 28%;
    
    }

    .inner-container:first-child {
       
       position: relative;
        left: .8%;
        border: solid #DA4E46 .5px;

    }

    .inner-container:nth-child(2) {
        border: solid #DA4E46 .5px;

        
    }

    .ingredient-heading {
        font-size: 23px;
        justify-content: center;
        display: flex;
       
    }
    
    .ingredient-list {
        margin-top: 3%;
        margin-right: 15%;
        position: relative;
        right: 15%;
    }

    .chart {
        display: inline-block;
    }

}