/* ////////// The Reset ////////// */
body {
    width: 100%;
    color: #202020;
    overflow-y: hidden;
    margin-bottom: 50px;
}

/* ////////// The Icon ////////// */

.meal-icon{
    margin: auto;
}

.meal-icon img {
    /* Make the icon a specific height */
    width: 200px;
    height: 200px;

    /* Grow Animation */
    transition: all .5s ease;
}

.meal-icon img:hover {
    /* Make the image look like a link */
    cursor: pointer;
    
    /* New dimensions when you hover */
    width: 230px;
    height: 230px;
}

/* ////////// The Back-Arrow ////////// */
.back-arrow {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 15px;
    color: #202020;
    visibility: hidden;
}

.back-arrow:hover {
    color: white;
}


/* ////////// The Layout ////////// */

.icon-div {
    background: powderblue;
    /* Take up the whole screen at first */
    height: 100vh;
    width: 100vw;
    /*center the icon*/
    display: flex;
    align-items: center;
    text-align: center;
}

.search-div {
    height: 5vh;
    width: 50vw;
    background: white;
    visibility: collapse;
    display: flex;
}

.menu-div {
    height: 50vh;
    visibility: collapse;
}

.right-side {
    visibility: collapse;
    height: 100vh;
    overflow-y: scroll;
}

.content {
    display: none;
}

/* ////////// The Suggested Recipes ////////// */

.recipe-row {
    height: 50%;
    width: 100%;
}
.recipe-btn {
    height: 100%;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    text-align: center;
}

.recipe-btn:hover {
    background: whitesmoke;
    cursor: pointer;
}

/* ////////// The Form ////////// */

form {
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 0px 0px;
}
#search {
    height: 100%;
    border: 0px solid transparent;
    margin: 0px;
    width: 30vw;
}
 #submit {
     background-color: #CF3A39;
     border: 0px;
     color: white;
     font-weight: bold;
     text-transform: uppercase;
     height: 100%;
     width: 10vw;
 }

 #submit:hover {
     cursor: pointer;
 }

 #more {
    background-color: #f9b44c;
    border: 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;
    width: 10vw;
}


/* ////////// The On Click Animations ////////// */

.animate {
    transition: all .25s ease;
}

.slide-icon {
    width: 100%;
    height: 45vh;
}

.display{
    visibility: visible;
}

.close-panels {
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none;
}

/* ////////// Responsive ////////// */

@media screen and (max-width: 400px) {
    body {
        overflow-y: scroll;
        height: auto;
    }

    .menu-div {
        height: 20vh;
    }

    .icon-div img {
       width: 100px;
       height: 100px; 
    }
    .search-div {
        width: 100vw;
    }

    #search {
        width: 80vw;
    }
    #submit {
        width: 20vw;
    }

    h1 {
        font-size: 20pt;
    }

    .recipe-btn {
        font-size: 8pt;
    }

}